/* * {
    border: 0.2px dashed black;
} */

:root {
    --primary: black;
    --secondary: white;
}
/* hidden */
.hidden,
.invisible {
    display: none;
}
.background-image {
    width: 220%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* intro section */
.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    color: var(--primary);
    overflow: hidden;
}
.intro-page,
.intro-overlay,
.hero-page,
.background-page,
.to-do-list,
.to-do-overlay {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    /* background-color: white; */
}
.intro-page {
    z-index: 5;
}

.intro-overlay {
    z-index: 4;
}
.to-do-list {
    z-index: 3;
}
.to-do-overlay {
    z-index: 2;
    background-color: var(--primary);
    opacity: 30%;
}
.hero-page {
    z-index: 1;
}

.logo-parent-div {
    position: absolute;
    top: 5%;
}
.logo-div {
    width: 50px;
    height: 50px;

    border-radius: 100%;
}
.logo {
    text-decoration: none;
}
.intro-text-input,
.hero-text-input {
    border: none;
    border-bottom: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    text-align: center;
}

/* hero section */
.hero-page-div {
    width: 100%;
    height: 100%;

    position: relative;
}
.hero-header {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.hero-qoutes {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
}
/* clock */
.clock {
    font-size: 150px;
    font-weight: 200;
    line-height: 0.8;
    color: var(--primary);
    opacity: 70%;
}
.seconds {
    font-size: 50px;
    font-weight: 200;
    width: 60px;
}
.meridiem {
    border-radius: 15%;
    font-size: 30px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.581);
    color: var(--secondary);
}

/* arrow-rotate */
.rotate-link,
.circle-link {
    width: 60px;
}
.custom-arrow-rotate,
.custom-circle {
    font-size: 34px;
    color: var(--primary);
}
.circle-link {
    position: relative;
}
.custom-arrow-left {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary);

    animation: frontBack 1s infinite;
}

/* to-do-list start */
.to-do-parent {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.to-do-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    min-height: 200px;
    background-color: var(--primary);
}
.to-do-clip {
    position: absolute;
    top: 75%;
    right: -39px;
    transform: rotate(-90deg);
}
.to-do-btn {
    background-color: var(--primary);
    opacity: 60%;
    color: var(--secondary);

    border-radius: 0;
}
.input-field-style {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--secondary);
    color: var(--secondary);
}
.paragraph-styling {
    line-height: 0.4;
    margin-top: 20px;

    font-size: 24px;
    color: var(--secondary);
}

.fa-x,
.to-do-label {
    color: var(--secondary);
    background-color: transparent;
    border: none;
}

@keyframes frontBack {
    0% {
        left: 70px;
    }
    50% {
        left: 60px;
    }
    100% {
        left: 70px;
    }
}

@media only screen and (max-width: 769px) {
    .clock {
        font-size: 120px;
    }
    .seconds {
        font-size: 40px;
        width: 48px;
    }
    .meridiem {
        font-size: 17px;
    }
    .hero-question-text {
        font-size: 17px;
    }
    .background-image {
        width: auto;
        height: 100%;
    }
}
